Connected to Python 3.10.6

In [1]:
import sqlite3

In [2]:
import sqlite3

connection = sqlite3.connect("lite.db")
cursor = connection.cursor()
cursor.execute("CREATE TABLE store (item TEXT, quantity INTEGER, price REAL)")

connection.commit()
connection.close()

In [3]:
import sqlite3

connection = sqlite3.connect("lite.db")
cursor = connection.cursor()
cursor.execute("CREATE TABLE store (item TEXT, quantity INTEGER, price REAL)")

connection.commit()
connection.close()

OperationalError: table store already exists

In [4]:
import sqlite3

connection = sqlite3.connect("lite.db")
cursor = connection.cursor()
cursor.execute("CREATE TABLE IF NOT EXISTS store (item TEXT, quantity INTEGER, price REAL)")

connection.commit()
connection.close()

In [5]:
import sqlite3

connection = sqlite3.connect("lite.db")
cursor = connection.cursor()
cursor.execute("CREATE TABLE IF NOT EXISTS store (item TEXT, quantity INTEGER, price REAL)")
cursor.execute("INSERT INTO store VALUES ('Hennesy', 6, 39.99)")

connection.commit()
connection.close()

In [6]:
import sqlite3

connection = sqlite3.connect("lite.db")
cursor = connection.cursor()

def create_table():
#
    cursor.execute("CREATE TABLE IF NOT EXISTS store (item TEXT, quantity INTEGER, price REAL)")
    connection.commit()
    connection.close()

def edit_table():
    cursor.execute("INSERT INTO store VALUES ('Hennesy', 6, 39.99)")

In [7]:
import sqlite3

connection = sqlite3.connect("lite.db")
cursor = connection.cursor()

def create_table():
    cursor.execute("CREATE TABLE IF NOT EXISTS store (item TEXT, quantity INTEGER, price REAL)")
    connection.commit()
    connection.close()

def insert_table(item, quantity, price):
    cursor.execute("INSERT INTO store VALUES (?,?,?)",(item, quantity, price))


insert_table("Hennessy", 6, 39.95)

In [8]:
import sqlite3

connection = sqlite3.connect("lite.db")
cursor = connection.cursor()

def create_table():
    cursor.execute("CREATE TABLE IF NOT EXISTS store (item TEXT, quantity INTEGER, price REAL)")
    connection.commit()
    connection.close()

def insert_table(item, quantity, price):
    cursor.execute("INSERT INTO store VALUES (?,?,?)",(item, quantity, price))

insert_table("Hennessy", 6, 39.95)

def view_table():
    cursor.execute("SELECT * FROM store")
    rows = cursor.fetchall()
    return rows

print(view_table())

[('Hennesy', 6, 39.99), ('Hennesy', 6, 39.99), ('Hennessy', 6, 39.95)]

In [9]:
import sqlite3

connection = sqlite3.connect("lite.db")
cursor = connection.cursor()

def create_table():
    cursor.execute("CREATE TABLE IF NOT EXISTS store (item TEXT, quantity INTEGER, price REAL)")
    connection.commit()
    connection.close()

def insert_table(item, quantity, price):
    cursor.execute("INSERT INTO store VALUES (?,?,?)",(item, quantity, price))

def delete_data():
    cursor.execute("REMOVE item WHERE item EQUALS 'Hennesy")

delete_data()

def view_table():
    cursor.execute("SELECT * FROM store")
    rows = cursor.fetchall()
    return rows

print(view_table())

OperationalError: near "REMOVE": syntax error

In [10]:
import sqlite3

connection = sqlite3.connect("lite.db")
cursor = connection.cursor()

def create_table():
    cursor.execute("CREATE TABLE IF NOT EXISTS store (item TEXT, quantity INTEGER, price REAL)")
    connection.commit()
    connection.close()

def insert_table(item, quantity, price):
    cursor.execute("INSERT INTO store VALUES (?,?,?)",(item, quantity, price))

def delete_data():
    cursor.execute("DELETE FROM store WHERE item='Hennesy'")

delete_data()

def view_table():
    cursor.execute("SELECT * FROM store")
    rows = cursor.fetchall()
    return rows

print(view_table())

[]

In [11]:
import sqlite3

connection = sqlite3.connect("lite.db")
cursor = connection.cursor()

def create_table():
    cursor.execute("CREATE TABLE IF NOT EXISTS store (item TEXT, quantity INTEGER, price REAL)")
    connection.commit()
    connection.close()

def insert_table(item, quantity, price):
    cursor.execute("INSERT INTO store VALUES (?,?,?)",(item, quantity, price))

def delete_data():
    cursor.execute("DELETE FROM store WHERE item='Hennesy'")

delete_data()
insert_table("PROPER TWELVE", 8, 29.99)

def view_table():
    cursor.execute("SELECT * FROM store")
    rows = cursor.fetchall()
    return rows

print(view_table())

[('PROPER TWELVE', 8, 29.99)]

In [12]:
import sqlite3

connection = sqlite3.connect("lite.db")
cursor = connection.cursor()

def create_table():
    cursor.execute("CREATE TABLE IF NOT EXISTS store (item TEXT, quantity INTEGER, price REAL)")
    connection.commit()
    connection.close()

def insert_table(item, quantity, price):
    cursor.execute("INSERT INTO store VALUES (?,?,?)",(item, quantity, price))

def delete_data():
    cursor.execute("DELETE FROM store WHERE item='Hennesy'")

delete_data()
insert_table("PROPER TWELVE", 8, 29.99)

def view_table():
    cursor.execute("SELECT * FROM store")
    rows = cursor.fetchall()
    return rows

print(view_table())

connection.close()

[('PROPER TWELVE', 8, 29.99)]

In [13]:
import sqlite3

connection = sqlite3.connect("lite.db")
cursor = connection.cursor()

def create_table():
    cursor.execute("CREATE TABLE IF NOT EXISTS store (item TEXT, quantity INTEGER, price REAL)")
    connection.commit()
    connection.close()

def insert_table(item, quantity, price):
    cursor.execute("INSERT INTO store VALUES (?,?,?)",(item, quantity, price))

def delete_data():
    cursor.execute("DELETE FROM store WHERE item='Hennesy'")

delete_data()
insert_table("PROPER TWELVE", 8, 29.99)

def view_table():
    cursor.execute("SELECT * FROM store")
    rows = cursor.fetchall()
    return rows

print(view_table())

connection.close()

[('PROPER TWELVE', 8, 29.99)]

In [14]:
import sqlite3

connection = sqlite3.connect("lite.db")
cursor = connection.cursor()

def create_table():
    cursor.execute("CREATE TABLE IF NOT EXISTS store (item TEXT, quantity INTEGER, price REAL)")
    connection.commit()
    connection.close()

def insert_table(item, quantity, price):
    cursor.execute("INSERT INTO store VALUES (?,?,?)",(item, quantity, price))

def delete_data():
    cursor.execute("DELETE FROM store WHERE item='Hennesy'")

delete_data()
insert_table("PROPER TWELVE", 8, 29.99)

def view_table():
    cursor.execute("SELECT * FROM store")
    rows = cursor.fetchall()
    return rows

print(view_table())

#connection.close()

[('PROPER TWELVE', 8, 29.99)]